$main-bg: #2e222b;
$input-bg: #191414;
$hover-bg: rgb(33, 21, 39);
$hover-border: rgb(76, 156, 39);
$main-color: rgba(255, 255, 255, 0.884);

body {
  // font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  background-color: $main-bg;
  position: relative;
  overflow-x: hidden;
}

.input-field, .pals {
  text-align: center;
  width: 500px;
  display: block;
  margin: auto;
  border: none;
  border-left: 2px solid $input-bg;
  border-right: 2px solid $input-bg;
}

.input-field {
  background-color: $input-bg;
  color: #fff;
  font-size: 1.25rem;
  padding: 20px 0px 20px 0px;
}

.pals {
  list-style-type: none;
  padding: 0;
  &__li {
    background-color: main-bg;
    &-wrapper {
      display: block;
      text-decoration: none;
      padding: 12px;
      margin: 0;
      border-bottom: 2px solid $input-bg;
      font-size: 1.1rem;
      color: $main-color;
      &:hover:not(.header) {
        background-color: $hover-bg;
        border-color: $hover-border;
      }
    }
  }
}